pre {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Custom CSS */
@media (min-width: 992px) {
  .custom-img {
    width: 1024px;
    height: 300px;
    object-fit: cover;
    object-position: center -290px;
  }
}

/* Mobile styles */
@media (max-width: 991px) {
  .custom-img {
    width: 100%;
    height: auto;
  }
}
